* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: black;
    background-image: url(Media/space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    background-color: black;
    position: sticky;
    top: 0;
    display: flex;
    z-index: 2;
    align-items: center;
    padding: 10px;
    font-size: large;
    height: 5vh;
}

a {
    text-decoration: none;
    color: white;
}

button{
    color: white;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.content {
    background: transparent;
    text-align: center;
    border: 2px solid white;
    padding: 50px;
    margin: 50px;
}

.contact-me {
    position: fixed;
    bottom: 40;
    right: 20;
}

.contact-me> a > button {
    background: transparent;
    padding: 10px;
    border-radius: 20px;
    border-color: white;
}

footer {
    background-color: black;
    text-align: center;
    padding: 5px;
    font-size: medium;
    height: 5vh;
}

@media only screen and (max-width: 600px) {
    header{
        font-size: medium;
    }
    footer{
        font-size: small;
    }
    .content{
        font-size: 10px;
        padding: 20px;
    }
}