* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    scrollbar-width: none;
    -webkit-scrollbar-width: none;
}

@font-face {
    font-family: my-font;
    src: url(My-Fonts/Lato/Lato-Regular.ttf);
}

body {
    color: black;
    background-color: white;
    font-family: my-font;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    font-size: large;
    z-index: 2;
    align-items: center;
    padding: 10px;
    height: 5vh;
    background-color: white;
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
    color: black;
}

button {
    color: black;
    cursor: pointer;
    background: transparent;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px;
    font-size: x-large;
}

footer {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    padding: 10px;
    text-align: center;
    border-top: 1px solid black;

}

@media only screen and (max-width: 600px) {
    header {
        font-size: medium;
    }

    footer {
        font-size: small;
    }

    .content {
        font-size: large;
    }

    iframe {
        width: 100vw;
        height: 1700px;
    }
}