* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: my-font;
    src: url(Lato/Lato-Regular.ttf);
}

body {
    color: white;
    background-color: black;
    background-image: url(Media/space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: my-font;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    font-size: large;
    z-index: 2;
    align-items: center;
    padding: 10px;
    background-color: black;
    height: 5vh;
}

a {
    text-decoration: none;
    color: white;
}

button {
    color: white;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}


.content {
    background: transparent;
    text-align: center;
    border: 2px solid white;
    padding: 50px;
    margin: 50px;
    font-size: x-large;
}

.fixed-btn {
    position: fixed;
    bottom: 50;
    right: 10;
}

.fixed-btn button {
    background: transparent;
    padding: 10px;
    border-radius: 20px;
    border-color: white;
    font-size: small;
}

footer {
    text-align: center;
    padding: 5px;
    font-size: medium;
    background-color: black;
    height: 5vh;
}

@media only screen and (max-width: 600px) {
    header {
        font-size: medium;
    }

    footer {
        font-size: small;
    }

    .content {
        font-size: large;
    }

    .fixed-btn button {
        font-size: x-small;
    }

}